/* Write your CSS here */
.match-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  width: 45%;
  margin-top: 14px;
  margin-right: 14px;
  border-radius: 12px;
  padding: 15px 25px 15px 25px;
}

@media screen and (min-width: 768px) {
  .match-card {
    padding: 20px 30px 20px 30px;
  }
}

.competing-team-heading {
  color: white;
  font-family: 'Bree Serif';
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .competing-team-heading {
    font-size: 27px;
  }
}

.result {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .result {
    font-size: 18px;
  }
}

.logo {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 110px;
    height: 110px;
  }
}

.result {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .result {
    font-size: 18px;
  }
}

.match-status {
  font-size: 18px;
  font-family: 'Bree Serif';
}

@media screen and (min-width: 768px) {
  .match-status {
    font-size: 20px;
    font-family: 'Bree Serif';
  }
}

.Won {
  color: #18ed66;
}

.Lost {
  color: #e31a1a;
}
