/* Write your CSS here */
.app-team-matches-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.match-details-container {
  width: 90%;
  margin-top: 40px;
  max-width: 400px;
}

@media screen and (min-width: 768px) {
  .match-details-container {
    margin-top: 60px;
    max-width: 1000px;
  }
}

.team-banner {
  width: 100%;
}

.recent-match-list-details-container {
  display: flex;
  width: 100%;
  margin-top: 24px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .recent-match-list-details-container {
    padding-left: 0px;
    margin-top: 30px;
  }
}

.RCB {
  background: linear-gradient(to top, #1e293b, #a4261d);
}

.KKR {
  background: linear-gradient(to top, #1e293b, #5755a7);
}

.KXP {
  background: linear-gradient(to top, #1e293b, #d91c1f);
}
.CSK {
  background: linear-gradient(to top, #1e293b, #f7db00);
}
.RR {
  background: linear-gradient(to top, #1e293b, #da237b);
}
.MI {
  background: linear-gradient(to top, #1e293b, #13418b);
}
.SH {
  background: linear-gradient(to top, #1e293b, #f26d22);
}
.DC {
  background: linear-gradient(to top, #1e293b, #4f5db0);
}
